# Cache and logs (Symfony3)
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!var/SymfonyRequirements.php
!var/data/
var/data/*
!var/data/.gitkeep

# Parameters
/app/config/parameters.yml

# Managed by Composer
/vendor/

# Assets and user uploads
/web/bundles/

# PHPUnit
/phpunit.xml

# Composer PHAR
/composer.phar

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
