# Cache and logs (Symfony3)
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!var/SymfonyRequirements.php

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/vendor/

# Assets and user uploads
/web/bundles/

# PHPUnit
/phpunit.xml

# Composer PHAR
/composer.phar

# SQLite Database
/app/data.db3
