{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_body %}
    <div style="max-width: 480px">
        <h1 style="font-size: 21px">Welcome to the EasyAdmin Demo application</h1>

        <p>
            This is a <strong>sample application</strong> developed with
            <a href="https://github.com/EasyCorp/EasyAdminBundle">EasyAdmin</a>,
            which creates administration backends for your Symfony applications with unprecedented simplicity.
        </p>

        <p>
            Click on any of the links in the main menu to start using this backend.
            Open the <code>src/Controller/Admin/</code> directory to learn how this
            backend was created.
        </p>

        <p>
            <a href="https://github.com/EasyCorp/EasyAdminBundle">View the source code</a>
            of this demo application, <a href="https://github.com/javiereguiluz/easy-admin-demo/issues">report issues</a>
            or <a href="https://symfony.com/doc/current/bundles/EasyAdminBundle">read EasyAdmin docs</a>
            to create your own backend.
        </p>
    </div>
{% endblock %}
