# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_url: "mysql://root:@127.0.0.1:3306/easyadmindemo"
    # uncomment this line if you want use pdo_sqlite
    # database_url: "sqlite:///%kernel.root_dir%/data/easyadmindemo.sqlite"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
